<h1 class="ui header">Détails sur un DCE</h1>

<div class="ui list">
  <div class="item">Identifiant PLACE de l'annonce : {{ place_metadata.annonce_id }}</div>
  <div class="item"><a href='{{betterplace_metadata.original_url}}'>Lien original</a></div>
  <div class="item">Métadonnée "org_acronym" : {{ place_metadata.org_acronym }}</div>
  <div class="item">Métadonnée "reference" : {{ place_metadata.reference }}</div>
  <div class="item">Métadonnée "intitule" : {{ place_metadata.intitule }}</div>
  <div class="item">Métadonnée "objet" : {{ place_metadata.objet }}</div>
  <div class="item">Date du téléchargement depuis PLACE : {{ betterplace_metadata.fetch_datetime }}</div>
</div>


<h2 class="ui header">Avis</h2>

<p>Liens BOAMP :</p>
<div class="ui list">
  {{#each place_metadata.links_boamp}}
    <div class="item">
      <a href={{this}}>{{this}}</a>
    </div>
  {{/each}}
</div>

{{#if avis}}
  {{#with avis}}
    <a href={{href}}>{{filename}} ({{file_size}})</a>
    <div class="ui list">
      {{#each embedded_filenames}}
        <div class="item">
          {{this}}
        </div>
      {{/each}}
    </div>
  {{/with}}
{{else}}
  <p>Cette annonce de comprend pas d'avis.</p>
{{/if}}


<h2 class="ui header">Réglement</h2>

<p>Référence du réglement : {{place_metadata.reglement_ref}}</p>

{{#if reglement}}
  {{#with reglement}}
    <a href={{href}}>{{filename}} ({{file_size}})</a>
    <div class="ui list">
      {{#each embedded_filenames}}
        <div class="item">
          {{this}}
        </div>
      {{/each}}
    </div>
  {{/with}}
{{else}}
  <p>Cette annonce de comprend pas de réglement.</p>
{{/if}}


<h2 class="ui header">Dossier de Consultation des Entreprises</h2>

{{#if dce}}
  {{#with dce}}
    <a href={{href}}>{{filename}} ({{file_size}})</a>
    <div class="ui list">
      {{#each embedded_filenames}}
        <div class="item">
          {{this}}
        </div>
      {{/each}}
    </div>
  {{/with}}
{{else}}
  <p>Cette annonce de comprend pas de dossier.</p>
{{/if}}


<h2 class="ui header">Complément</h2>

{{#if complement}}
  {{#with complement}}
    <a href={{href}}>{{filename}} ({{file_size}})</a>
    <div class="ui list">
      {{#each embedded_filenames}}
        <div class="item">
          {{this}}
        </div>
      {{/each}}
    </div>
  {{/with}}
{{else}}
  <p>Cette annonce de comprend pas de complément.</p>
{{/if}}
