<h1 class="ui header">Liste des DCE</h1>

<p>
  {{ docCount }} DCE
</p>

<h2>Derniers DCE</h2>

<a href='{{pagination.firstPageHref}}'>1st</a>
</br>
{{#if pagination.previousPageIndex}}
  <a href='{{pagination.previousPageHref}}'>previous {{pagination.previousPageIndex}}</a>
  </br>
{{/if}}
<p>current {{pagination.currentPageIndex}}</p>
</br>
{{#if pagination.nextPageIndex}}
  <a href='{{pagination.nextPageHref}}'>next {{pagination.nextPageIndex}}</a>
  </br>
{{/if}}
<a href='{{pagination.lastPageHref}}'>last {{pagination.lastPageIndex}}</a>


<ul>
  {{#each lastDceData}}
    <li>
      <a href='{{this.href}}'>{{this.fetch_datetime}} {{this.annonce_id}}-{{this.org_acronym}} {{this.intitule}}</a>
    </li>
  {{/each}}
</ul>
