<h1 class="ui header">Derniers dossiers</h1>

<p>
  {{ docCount }} dossiers de consultations des entreprises
</p>


{{#if pagination.previousPageIndex}}
  <a class="ui labeled icon button" href='{{pagination.firstPageHref}}'>
    <i class="angle double left icon"></i>
    1
  </a>
{{else}}
  <a class="ui labeled icon disabled button" href='{{pagination.firstPageHref}}'>
    <i class="angle double left icon"></i>
    1
  </a>     
{{/if}}

<div class="ui buttons">
  {{#if pagination.previousPageIndex}}
    <a class="ui labeled icon button" href='{{pagination.previousPageHref}}'>
      <i class="left chevron icon"></i>
      {{pagination.previousPageIndex}}
    </a>
  {{else}}
    <div class="ui labeled icon disabled button">
      <i class="left chevron icon"></i>
    </div>      
  {{/if}}

  <div class="ui disabled button">
      {{pagination.currentPageIndex}}
  </div>

  {{#if pagination.nextPageIndex}}
    <a class="ui right labeled icon button" href='{{pagination.nextPageHref}}'>
      {{pagination.nextPageIndex}}
      <i class="right chevron icon"></i>
    </a>
  {{else}}
    <div class="ui right labeled icon disabled button">
      <i class="right chevron icon"></i>
    </div>      
  {{/if}}
</div>

{{#if pagination.isLastPage}}
  <a class="ui labeled icon disabled button" href='{{pagination.lastPageHref}}'>
    <i class="angle double right icon"></i>
    {{pagination.lastPageIndex}}
  </a>
{{else}}
  <a class="ui labeled icon button" href='{{pagination.lastPageHref}}'>
    <i class="angle double right icon"></i>
    {{pagination.lastPageIndex}}
  </a>  
{{/if}}


<div class="ui list">
  {{#each lastDceData}}
    <div class="item">
      <div class="ui label">{{this.fetch_datetime}}</div>
      <a href='{{this.href}}'>{{this.intitule}}</a>
    </div>
  {{/each}}
</div>


{{#if pagination.previousPageIndex}}
  <a class="ui labeled icon button" href='{{pagination.firstPageHref}}'>
    <i class="angle double left icon"></i>
    1
  </a>
{{else}}
  <a class="ui labeled icon disabled button" href='{{pagination.firstPageHref}}'>
    <i class="angle double left icon"></i>
    1
  </a>     
{{/if}}

<div class="ui buttons">
  {{#if pagination.previousPageIndex}}
    <a class="ui labeled icon button" href='{{pagination.previousPageHref}}'>
      <i class="left chevron icon"></i>
      {{pagination.previousPageIndex}}
    </a>
  {{else}}
    <div class="ui labeled icon disabled button">
      <i class="left chevron icon"></i>
    </div>      
  {{/if}}

  <div class="ui disabled button">
      {{pagination.currentPageIndex}}
  </div>

  {{#if pagination.nextPageIndex}}
    <a class="ui right labeled icon button" href='{{pagination.nextPageHref}}'>
      {{pagination.nextPageIndex}}
      <i class="right chevron icon"></i>
    </a>
  {{else}}
    <div class="ui right labeled icon disabled button">
      <i class="right chevron icon"></i>
    </div>      
  {{/if}}
</div>

{{#if pagination.isLastPage}}
  <a class="ui labeled icon disabled button" href='{{pagination.lastPageHref}}'>
    <i class="angle double right icon"></i>
    {{pagination.lastPageIndex}}
  </a>
{{else}}
  <a class="ui labeled icon button" href='{{pagination.lastPageHref}}'>
    <i class="angle double right icon"></i>
    {{pagination.lastPageIndex}}
  </a>  
{{/if}}
