<h1>Rechercher un DCE</h1>

<form action="/search">
  <input type="text" name="q"><br>
  <input type="submit" value="Rechercher">
</form>


<ul>
  {{#each hitsData}}
    <li>
      <a href='{{this.href}}'>{{this.annonce_id}}-{{this.org_acronym}} {{this.intitule}}</a>
      <p>{{this.highlight}}</p>
    </li>
  {{/each}}
</ul>
