<h1>Rechercher un DCE</h1>

<form action="/search">
  <input type="text" name="q" value="{{queryString}}"><br>
  <input type="submit" value="Rechercher">
</form>

{{#if validQueryString}}
  <p>{{nbHits}} DCE</p>


  <a href='{{pagination.firstPageHref}}'>1st</a>

  {{#if pagination.previousPageIndex}}
    <a href='{{pagination.previousPageHref}}'>previous {{pagination.previousPageIndex}}</a>
  {{/if}}

  <p>current {{pagination.currentPageIndex}}</p>

  {{#if pagination.nextPageIndex}}
    <a href='{{pagination.nextPageHref}}'>next {{pagination.nextPageIndex}}</a>
  {{/if}}


  <ul>
    {{#each hitsData}}
      <li>
        {{this.index}} <a href='{{this.href}}'>{{this.fetch_datetime}} {{this.annonce_id}}-{{this.org_acronym}} {{this.intitule}}</a>
        <p>{{this.highlight}}</p>
      </li>
    {{/each}}
  </ul>

{{/if}}
