<form class="ui form" action="/search">
  <div class="field">
    <div class="ui action input">
      <input type="text" name="q" value="{{queryString}}">
      <button class="ui button" type="submit">Rechercher</button>
    </div>
  </div>
</form>


{{#if validQueryString}}
  {{#if nbHits}}
    {{#if nbHitsPlural}}
      <p>{{nbHits}} dossiers correspondent à votre recherche</p>
    {{else}}
      <p>{{nbHits}} dossier correspond à votre recherche</p>
    {{/if}}


    {{#if pagination.previousPageIndex}}
      <a class="ui labeled icon button" href='{{pagination.firstPageHref}}'>
        <i class="angle double left icon"></i>
        1
      </a>
    {{else}}
      <a class="ui labeled icon disabled button" href='{{pagination.firstPageHref}}'>
        <i class="angle double left icon"></i>
        1
      </a>     
    {{/if}}

    <div class="ui buttons">
      {{#if pagination.previousPageIndex}}
        <a class="ui labeled icon button" href='{{pagination.previousPageHref}}'>
          <i class="left chevron icon"></i>
          {{pagination.previousPageIndex}}
        </a>
      {{else}}
        <div class="ui labeled icon disabled button">
          <i class="left chevron icon"></i>
        </div>      
      {{/if}}

      <div class="ui disabled button">
         {{pagination.currentPageIndex}}
      </div>

      {{#if pagination.nextPageIndex}}
        <a class="ui right labeled icon button" href='{{pagination.nextPageHref}}'>
          {{pagination.nextPageIndex}}
          <i class="right chevron icon"></i>
        </a>
      {{else}}
        <div class="ui right labeled icon disabled button">
          <i class="right chevron icon"></i>
        </div>      
      {{/if}}
    </div>


    <div class="ui list">
      {{#each hitsData}}
        <div class="item">
          <div class="ui segment">
            <div class="ui blue label">{{this.index}}</div>
            <a href='{{this.href}}'>{{this.intitule}}</a>
            <div class="ui label">{{this.fetch_datetime}}</div>
            <div class="highlight">{{this.highlight}}</div>
          </div>
        </div>
      {{/each}}
    </div>


    {{#if pagination.previousPageIndex}}
      <a class="ui labeled icon button" href='{{pagination.firstPageHref}}'>
        <i class="angle double left icon"></i>
        1
      </a>
    {{else}}
      <a class="ui labeled icon disabled button" href='{{pagination.firstPageHref}}'>
        <i class="angle double left icon"></i>
        1
      </a>     
    {{/if}}

    <div class="ui buttons">
      {{#if pagination.previousPageIndex}}
        <a class="ui labeled icon button" href='{{pagination.previousPageHref}}'>
          <i class="left chevron icon"></i>
          {{pagination.previousPageIndex}}
        </a>
      {{else}}
        <div class="ui labeled icon disabled button">
          <i class="left chevron icon"></i>
        </div>      
      {{/if}}

      <div class="ui disabled button">
         {{pagination.currentPageIndex}}
      </div>

      {{#if pagination.nextPageIndex}}
        <a class="ui right labeled icon button" href='{{pagination.nextPageHref}}'>
          {{pagination.nextPageIndex}}
          <i class="right chevron icon"></i>
        </a>
      {{else}}
        <div class="ui right labeled icon disabled button">
          <i class="right chevron icon"></i>
        </div>      
      {{/if}}
    </div>

  {{else}}
    <p>Aucun dossier ne correspond à votre recherche</p>
  {{/if}}
{{/if}}
