extends layout

block content
  h1 Détails sur un DCE

  ul
    li= "Identifiant PLACE de l'annonce : " + dceData.annonce_id
    li= 'Identifiant "org_acronym" : ' + dceData.org_acronym
    li= 'Métadonnée "reference" : ' + dceData.reference
    li= 'Métadonnée "intitule" : ' + dceData.intitule
    li= 'Métadonnée "objet" : ' + dceData.objet
    li= 'Date du téléchargement depuis PLACE : ' + dceData.fetch_datetime
  
  h2 Avis
  p Liens BOAMP :
    ul
      each link in dceData.links_boamp
        li
          a(href=link)= link
  - var documentType = 'avis'
  if documentsByType[documentType]
    p
      a(href=documentsByType[documentType].originalDoc.url)= documentsByType[documentType].originalDoc.name
    ul
      each file in documentsByType[documentType].unzippedFiles
        if file.nodeType == 'file'
          li
            a(href=file.url)= file.name
        else
          if file.name
            li= file.name

  h2 Réglement
  p= 'Référence du réglement : ' + dceData.reglement_ref
  - var documentType = 'reglement'
  if documentsByType[documentType]
    p
      a(href=documentsByType[documentType].originalDoc.url)= documentsByType[documentType].originalDoc.name
    ul
      each file in documentsByType[documentType].unzippedFiles
        if file.nodeType == 'file'
          li
            a(href=file.url)= file.name
        else
          if file.name
            li= file.name
  else
    p Cette annonce de comprend pas de réglement.

  h2 Dossier de Consultation des Entreprises
  - var documentType = 'dce'
  if documentsByType[documentType]
    p
      a(href=documentsByType[documentType].originalDoc.url)= documentsByType[documentType].originalDoc.name
    ul
      each file in documentsByType[documentType].unzippedFiles
        if file.nodeType == 'file'
          li
            a(href=file.url)= file.name
        else
          if file.name
            li= file.name
  else
    p Cette annonce de comprend pas de DCE.

  h2 Complément
  - var documentType = 'complement'
  if documentsByType[documentType]
    p
      a(href=documentsByType[documentType].originalDoc.url)= documentsByType[documentType].originalDoc.name
    ul
      each file in documentsByType[documentType].unzippedFiles
        if file.nodeType == 'file'
          li
            a(href=file.url)= file.name
        else
          if file.name
            li= file.name
  else
    p Cette annonce de comprend pas de document complémentaire.